body {
    background-color: var(--main-bg);
}

.header-section {
    padding-top: 8em;
}

.scroll-effect {
    opacity: 0;
    transform: translateY(150px);
    transition: all 0.5s ease-in-out;
}

.show-section {
    opacity: 1;
    transform: translateY(0);
}

.header-row,
.header-card {
    background-color: #00102B;
}

.header-row {
    border: none;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    padding: 25px;
}

.header-title {
    color: white;
}

.window-lights {
    fill: #FEE45A;
    transition: fill 500ms ease-in-out;
}

.buttons-box {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    width: 220px;
    background: white;
}

.dashboard-buttons {
    width: 100%;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}

.active-dashboard-btn {
    background-color: #00509E;
    color: white;
}

hr,
.title,
.date {
    color: var(--text-color);
}

.comparison-chart,
.table-overview {
    box-shadow: 0 0 25px 2px var(--shadow-color);
    background-color: var(--main-bg);
}

.comparison-chart h5 {
    color: var(--text-color);
    font-weight: bold;
}
