body {
    background-color: var(--main-bg);
}

.header-section {
    padding-top: 8em;
}

.header-row,
.header-card {
    background-color: #00102B;
}

.header-row {
    border: none;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    padding: 25px;
}

.header-title {
    color: white;
}

.window-lights {
    fill: #FEE45A;
    transition: fill 500ms ease-in-out;
}

.title,
.date {
    color: var(--text-color);
}

.comparison-chart,
.table-overview {
    box-shadow: 0 0 25px 2px var(--shadow-color);
    background-color: var(--main-bg);
}

.comparison-chart h5 {
    color: var(--text-color);
    font-weight: bold;
}
