@import "../defaults.css";
 
span.name {
    color: #2F72B9;
}

.start-section {
    background: rgba(0, 80, 158, 0.23);
}

.header-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-top: 85px;
    color: #00509E;
}

.header-info {
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.green-word {
    color: #ABC54F;
}

.viewButton{
    width: 150px;
    height: 40px;
    background: #00509E;
    border-radius: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.infoButton {
    margin-left: 20px;
    width: 150px;
    height: 40px;
    background: rgba(0, 80, 158, 0.25);
    border-radius: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.mid-section {
    height: fit-content;
}

.end-section {
    height: 80vh;
}

.title h3 {
    font-weight: bold;
    font-size: 22px;
}

.custom-card:hover {
    transform: scale(1.1);
}

.cards-row {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    padding: 25px 0 40px 0;
}

.left-card,
.mid-card,
.right-card {
    border: none;
    box-shadow: 0px 0px 25px 8px rgba(229, 233, 246, 0.4);
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    height: 400px;
    transition: 450ms ease-in;
}

.mid-card {
    background-color:rgba(0, 80, 158, 0.7);
}

.mid-card {
    color: white;
}

.card-content img {
    text-align: center;
}

.left-card .card-body .card-content img{
    width: 200px;
}

.left-card .card-body .card-content {
    margin-top: 35px;
}

.mid-card .card-body .card-content,
.right-card .card-body .card-content {
    margin-top: 50px;
}

.mid-card .card-body .card-content img{
    width: 265px;
}

.right-card .card-body .card-content img{
    width: 265px;
}

.section-title {
    margin-bottom: 5%;
}

.section-title h2{
    color: var(--main-text);
    font-weight: bold;
    padding-top: 30px;
}

.end-section {
    background-color: rgba(0, 80, 157, 0.23);
}

.end {
    display: flex;
    flex-direction: column;
}

.end-title {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #00509E;
}

.end-text {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    padding: 15px;
    color: rgba(0,79, 158, 0.7);
}

.end-img {
    display: flex;
    justify-content: center;
}

#imgendsection {
    width: 53%;
}