@import "/assets/css/theme.css";

html {
    overflow-x: hidden;
}

span.name {
    color: #2F72B9;
}

.start-section {
    background-color: var(--section-background);
    display: flex;
    flex-direction: row;
}

.left-section {
    margin-top: 50px;
    margin-right: -200px;
}

.header-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-top: 85px;
    color: #00509E;
}

.header-info {
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.green-word {
    color: #ABC54F;
}

.viewButton {
    width: 150px;
    height: 40px;
    background: #00509E;
    border-radius: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.infoButton {
    margin-left: 20px;
    width: 150px;
    height: 40px;
    background: rgba(0, 80, 158, 0.25);
    border-radius: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.image-start-section {
    margin-top: 100px;
}

.mid-section {
    height: fit-content;
    background-color: var(--main-bg);
    transition: background-color 200ms ease-in-out;
}

.end-section {
    height: 80vh;
}

.info-card-title  h3 {
    font-weight: bold;
    font-size: 22px;
}

.custom-card:hover {
    transform: scale(1.1);
}

.cards-row {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    padding: 25px 0 40px 0;
}

.left-card,
.mid-card,
.right-card {
    border: none;
    box-shadow: 0 0 25px 2px var(--shadow-color);
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    height: 400px;
    transition: 450ms transform ease-in;
}

.left-card,
.right-card {
    background-color: var(--card-bg);
    color: var(--text-color);
}

.mid-card {
    background-color: rgba(0, 80, 158, 0.7);
    color: white;
}

.card-content img {
    text-align: center;
}

.left-card .card-body .card-content img {
    width: 200px;
}

.left-card .card-body .card-content {
    margin-top: 35px;
}

.mid-card .card-body .card-content,
.right-card .card-body .card-content {
    margin-top: 50px;
}

.mid-card .card-body .card-content img {
    width: 265px;
}

.right-card .card-body .card-content img {
    width: 265px;
}

.section-title {
    margin-bottom: 5%;
}

.section-title h2 {
    color: var(--text-color);
    font-weight: bold;
    padding-top: 30px;
}

.end-section {
    background-color: var(--section-background);
}

.end {
    display: flex;
    flex-direction: column;
}

.end-title {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: var(--section-text-color);
}

.end-title h1 {
    font-weight: bold;
}

.end-text {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    padding: 15px;
    color: var(--section-text-color);
}

.end-text p {
    text-align: center;
    color: var(--section-text-color);
}

.end-img {
    display: flex;
    justify-content: center;
}

#imgendsection {
    width: 53%;
}

@media (max-width: 920px) {
    .image-start-section{
        display: none;
    }

    .left-section {
        margin-right: 0;
    }
}