.area-consumption {
    margin-top: 100px;
}

.room-consumption {
    position: absolute;
    bottom: 15px;
    gap: 5px;
}

.room-electricity-consumption,
.room-gas-consumption {
    padding: 6px 10px 6px 10px;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    width: fit-content;
}

.room-electricity-consumption i {
    color: yellow;
}

.area-card,
.room-card {
    background-color: var(--main-bg);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 20px var(--shadow-color);
    color: var(--text-color);
    height: 180px;
}

.area-card-btn {
    position: absolute;
    top: 130px;
}

.area-card-btn button {
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #00509E;
    padding: 5px 25px 5px 25px;
}

.modal-text {
    font-size: 14px;
}

.flip-page {
    perspective: 5000px;
}

.flip-page-wrapper {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-vertical {
    transform: rotateY(180deg);
}

.flip-page-top,
.flip-page-bottom {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-page-bottom {
    position: absolute;
    top: 0;
    right: 50%;
    transform: rotateY(180deg) translateX(-50%);
    margin-top: 100px;
}