.container-usage {
    padding: 2em;
    margin-top: 3em;
    background-color: var(--main-bg);
    color: var(--text-color);
    font-family: var(--default-font);
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2em;
    margin-bottom: 6em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(122 122 122);
    transform: rotateZ(5deg);
    width: 55vw;
}

.box-content {
    transform: rotateZ(-5deg);
}

.box-bottom {
    background: #00509E;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 20px var(--shadow-color);
    width: 55vw;
    margin: auto;
}

.input-date-1 {
    text-align: center;
}

.date-output {
    display: flex;
}

.date {
    font-weight: bolder;
}

.name-data-1 {
    text-align: center;
    margin-bottom: 12px;
}

.name-data-1 span {
    font-weight: bold;
    font-size: 16px;
}

.datepicker {
    text-align: center;
    background-color: #f6f6f6;
    padding: 10px;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    width: 25vw;
}

.output {
    box-shadow: 0 5px 20px var(--shadow-color);
    border-radius: 10px;
    width: 200px;
    padding: 1em;
}

/*.arrow {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*}*/

.positive {
    color: var(--card-high-percentage);
    font-weight: bold;
}

.negative {
    color: var(--card-low-percentage);
    font-weight: bold;
}
