.container-usage {
    padding: 2em;
    margin-top: 3em;
    background-color: var(--main-bg);
    color: var(--text-color);
    font-family: var(--default-font);
}

.box-top {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px var(--shadow-color);
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 6em;

}

.input-date-1 {
    text-align: center;
}

.date-output {
    display: flex;
}

.date {
    font-weight: bolder;
}

.name-data-1 {
    text-align: center;
    margin-bottom: 12px;
}

.name-data-1 span{
    font-weight: bold;
    font-size: 16px;
}

.datepicker {
    text-align: center;
    background-color: #f6f6f6;
    padding: 10px;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
}

.output {
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 10px;
    padding: 1em;
}

.arrow {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.positive {
    color: var(--card-high-percentage);
    font-weight: bold;
}

.negative {
    color: var(--card-low-percentage);
    font-weight: bold;
}