.comparison-chart {
    padding: 2em;
    margin-top: 3em;
    background-color: white;
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 10px;
}

.comparison-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

#chart {
    max-width: 500px;
    max-height: 500px;
}