.container-usage {
    padding: 2em;
    margin-top: 3em;
    background-color: var(--main-bg);
    color: var(--text-color);
    font-family: var(--default-font);
}

.data-section {
    display: flex;
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 6em;
}

.date-output {
    display: flex;
}

.output {
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 10px;
    padding: 1em;
}

.arrow {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.positive {
    color: var(--card-high-percentage);
}

.negative {
    color: var(--card-low-percentage);
}