.section-graph {
    display: flex;
    justify-content: center;
}

.graph-box {
    padding: 2em;
    margin-top: 3em;
    box-shadow: 0 0 25px 2px var(--shadow-color);
    border-radius: 10px;
}

.graph {
    background-color: var(--main-bg);
}