@import "/assets/css/defaults.css";

.card-content {
    display: flex;
}

.realtime-card {
    background-color: var(--main-bg);
    border-radius: 10px;
    box-shadow: 0 5px 20px var(--shadow-color);
    border: none;
    margin: auto;
    width: 250px;
}

.realtime-card .card-title,
.realtime-card .card-text {
    color: var(--text-color);
}

.card-custom-header {
    display: flex;
    justify-content: space-between;
}

.info-icon {
    font-size: 25px;
    color: #00509E;
}

.card-stats {
    margin-top: 15px;
}

.card-text,
.color-high {
    margin-bottom: 0;
}

.color-high {
    color: var(--card-high-percentage);
}

.title-container {
    margin-top: 5rem;
}

