/* Setting our default font*/
*{
    font-family: 'Inter', sans-serif;
}

/* Default button layout */
button{
    color: #849AA9;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

#buttons{
    padding: 10px;
}

#line{
    color: black;
    height: 1px;
    width: 100%;
}

th{
    width: calc(100% / 7);
}

#tableHeader{
    color: white;
    background-color: var(--table-top-color);
}

/* Setting the colors for our striped table*/
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: var(--table-row-color);
}
