/*!Temp. CSS for Table*/
.table-overview {
    padding: 2em;
    margin-top: 3em;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0 0 0, 0.5);
    border-radius: 10px;
    margin-bottom: 10em;
}


.tab-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #849AA9;
    text-decoration: none;
    border-radius: 10px;
    transition: 500ms ease-in;
}

.tab-link:hover {
    background: #4b739b;
    color: white;
}

.tab-active {
    color: white !important;
    background: #00509E;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length{
    color: var(--text-color);
}

.dataTables_wrapper .dataTables_length select {
    color: var(--text-color);
    background-color: var(--main-bg);
}

.dataTables_wrapper .dataTables_filter input {
    background-color: #DAE1EC;
    border-radius: 4px;
    border: none;
    margin: 10px;
}

.table thead {
    background-color: #00509E;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: var(--table-row-bg-even);
    color: var(--text-color);
}

.table tbody tr:nth-child(odd) {
    background-color: var(--table-row-bg-odd);
    color: var(--text-color);
}

.table tbody tr:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
.table>:not(:last-child)>:last-child>*{
    border: none;
}

.table > :not(caption) > * > * {
    border: none;
}

.dataTables_info,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: var(--text-color)!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.paginate_button:hover {
    border: 1px solid #979797;
    border-radius: 8px !important;
    background: #00509E none !important;
    color: white!important;
    cursor: pointer;
    transition: 500ms ease-in;
}