@import "/assets/css/theme.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #2F72B9;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #cbbde2;
}

a {
    text-decoration: none;
}

/* navbar */
.navbar-collapse {
    justify-content: right;
}

.navbar {
    background-color: #00509E;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    display: inline-block;
    padding: 20px 10px;
}

.nav-links {
    color: white;
    padding: 8px 8px;
    transition: 400ms ease-in;
    border-radius: 8px;
}

.nav-links:hover {
    color: #004085;
    background: #FFFFFF;
    padding: 8px 8px;
    text-decoration: none;
}

.active-link {
    color: #004085;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
}

/* Dark mode switcher located in navbar */
.checkbox {
    opacity: 0;
    position: absolute;
}

.darkmode-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 28px;
    height: 14px;
    border-radius: 50px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    background-color: #6c757d;
    transform: scale(1.5);
}

.darkmode-ball {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .darkmode-label .darkmode-ball {
    transform: translateX(11px);
}

.checkbox:checked + .darkmode-label {
    background-color: black;
}


