<template class="area-card-template">
    <div class="col">
        <div class="title-box">
            <h3 class="area-title fw-bold"></h3>
        </div>
        <hr>
        <template class="room-card-template">
            <div class="col">
                <div class="room-title"></div>
            </div>
            <template class="chart-template">
                <canvas id="roomChart" width="400" height="400"></canvas>
            </template>
            <div class="chart-view"></div>
        </template>


        <div class="row g-4 row-cols-1 row-cols-lg-2 mb-4 rooms-display"></div>
    </div>
</template>



<div class="container areas-view"></div>

