<div class="areas">
    <div class="row g-4 row-cols-1 row-cols-lg-4 mb-4">
        <div class="col">
            <div class="card area-card north">
                <div class="card-body">
                    <div class="area-card-header">
                        <div class="area-card-title">
                            <h4>Noord Vleugel</h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="area-card-btn">
                            <button type="button" data-area="north">zie</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card area-card east">
                <div class="card-body">
                    <div class="area-card-header">
                        <div class="area-card-title">
                            <h4>Oost Vleugel</h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="area-card-btn">
                            <button type="button" data-area="east">zie</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card area-card west">
                <div class="card-body">
                    <div class="area-card-header">
                        <div class="area-card-title">
                            <h4>West Vleugel</h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="area-card-btn">
                            <button type="button" data-area="west">zie</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card area-card outside">
                <div class="card-body">
                    <div class="area-card-header">
                        <div class="area-card-title">
                            <h4>Open Plein</h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="area-card-btn">
                            <button type="button" data-area="outside">zie</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


