<div class="container-usage">
    <h3>Vergelijk verbruik</h3>
    <hr>

    <section class="container p-5 text-center">
        <div class="box-bottom">
            <div class="date-1 box-top justify-content-around">
                <div class="box-content">
                    <div class="name-data-1">
                        <span>Selecteer een datum:</span>
                    </div>
                    <div class="input-date-1">
                        <label for="datepicker"></label><input id="datepicker" class="datepicker"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="date-output justify-content-around row g-4 row-cols-1 row-cols-lg-3 ">
            <div class="output">
                <div class="date card-custom-header">
                    <div class="d-flex align-items-center">
                        <p id="first-long-date" class="mb-0"></p>
                    </div>
                    <div class="card-info-icon cu-mb-first modal-button">
                        <!-- Loads modal button via JS -->
                    </div>
                </div>
                <div id="first-result" class="kwh-value">

                </div>
            </div>
            <div class="arrow">
                <p id="difference" class="justify-content-around mb-0">+0</p>

                <svg width="174" height="38" viewBox="0 0 174 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M172.757 20.7781C173.739 19.8076 173.749 18.2247 172.778 17.2427L156.962 1.23945C155.992
                0.257412 154.409 0.248101 153.427 1.21865C152.445 2.1892 152.435 3.77209 153.406 4.75412L167.465
                18.9792L153.239 33.0379C152.257 34.0085 152.248 35.5913 153.219 36.5734C154.189 37.5554 155.772 37.5647
                156.754 36.5942L172.757 20.7781ZM0.985294 20.5L170.985 21.5L171.015 16.5L1.01471 15.5L0.985294 20.5Z"
                          fill="#849AA9"/>
                </svg>
            </div>
            <div class="output">
                <div class="date card-custom-header">
                    <div class="d-flex align-items-center">
                        <p id="second-long-date" class="mb-0"></p>
                    </div>
                    <div class="card-info-icon cu-mb-second modal-button">
                        <!-- Loads modal button via JS -->
                    </div>
                </div>
                <div id="second-result" class="kwh-value">

                </div>
            </div>
        </div>
    </section>
</div>

