<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 360px;">
        <div class="modal-content" style="border-radius: 15px;">
            <div class="modal-body text-center">
                <div>
                    <object type="image/svg+xml" data="assets/svg/undraw_nature.svg" width="250" height="300">
                        <img src="assets/svg/undraw_nature.svg"  alt="Modal Image"/>
                    </object>
                </div>
                <h3 class="title fw-bold"></h3>
                <p class="modal-text">
                    Aantal bomen wat geplant moet worden, om <span class="modal-consumption-value fw-bold"></span> verbruik te compenseren : <br>
                    <span class="modal-tree-value fw-bold"></span> <i class="bi bi-tree-fill"></i>
                </p>
                <code> aantal bomen = ([kWh]* 0.4) / 20 </code>
                <p class="text-muted fs-6 mt-3">Een gemiddelde boom kan in een jaar ongeveer 20 kg CO2-uitstoot opnemen</p>
                <p class="text-muted fs-6">1,000 kWh aan elektriciteit: 400 kg of CO2</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
