<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 350px;">
        <div class="modal-content" style="border-radius: 15px;">
            <div class="modal-body text-center">
                <div>
                    <object type="image/svg+xml" data="assets/svg/undraw_nature.svg" width="250" height="300">
                        <img src="assets/svg/undraw_nature.svg"  alt="Modal Image"/>
                    </object>
                </div>
                <h3 class="title fw-bold"></h3>
                <p class="modal-text">
                    Aantal bomen om het KwH verbruik te compenseren <span class="modal-tree-value fw-bold"></span>
                </p>
            </div>
            <div class="modal-footer" style="border-top:0;">
                <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal" style="background: #0063C3;">Close</button>
            </div>
        </div>
    </div>
</div>
