<div class="title-container">
    <h3 class="title">Vandaag</h3>
    <p class="date fw-lighter">14/02/2022</p>
</div>

<hr>

<div class="container">
    <div class="row g-4 row-cols-1 row-cols-lg-2 justify-content-center" id="row">
        <div class="col">
            <div class="card card-body realtime-card">
                <div class="card-custom-header">
                    <h5 class="card-title">Electra</h5>
                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Hooray!" class="card-info-icon">
                        <i class="bi bi-info-circle-fill info-icon"></i>
                    </div>
                </div>
                <div class="card-content card-stats justify-content-between">
                    <p class="card-text" id="realtime-electra-data">Geen data gevonden</p>
                    <p class="color-high">+1.3%</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-body realtime-card">
                <div class="card-custom-header">
                    <h5 class="card-title">Gas</h5>
                    <div class="card-info-icon">
                        <i class="bi bi-info-circle-fill info-icon"></i>
                    </div>
                </div>
                <div class="card-content card-stats justify-content-between">
                    <p class="card-text" id="realtime-gas-data">Geen data gevonden</p>
                    <p class="color-high">+1.3%</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="satisfaction-box">
                <div class="satisfaction-text">
                    <h5 class="satisfaction-title">Huidige Tevredenheid</h5>
                    <p class="satisfaction-subtitle">Huidige verbruik vergeleken met het gemiddelde verbruik</p>
                </div>
                <div class="satisfaction-stats">
                    <div class="percentage-bar-overflow">
                        <div class="percentage-bar"></div>
                    </div>
                    <img class="satisfaction-icon" src="assets/images/icons/happy-icon.png" alt="Tevredenheids icoon">
                    <div class="percentage-box">
                        <span class="percentage-count">95%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

