<div class="title-container">
    <h3 class="title">Vandaag</h3>
    <p class="date fw-lighter" id="current-date"></p>
</div>

<hr>

<div class="container">
    <div class="row g-4 row-cols-1 row-cols-lg-2 justify-content-center" id="row">
        <div class="col">
            <div class="card card-body realtime-card mb-4">
                <div class="card-custom-header">
                    <h5 class="card-title fw-bold">Electra</h5>
                    <div class="card-info-icon rt-electra modal-button">
                        <!-- Loads modal button via JS -->
                    </div>
                </div>
                <div class="card-content card-stats justify-content-between">
                    <p class="card-text" id="realtime-electra-data">Geen data gevonden</p>
                    <p class="electricity-difference">+1.4%</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="satisfaction-box row row-cols-1 row-cols-lg-2 ">
                <div class="col satisfaction-text">
                    <h5 class="satisfaction-title">Huidig Verbruik</h5>
                    <p class="satisfaction-subtitle">Huidige elektra verbruik ten opzichte van het gemiddelde elektra verbruik (100% is het gemiddelde)</p>
                </div>
                <div class="col satisfaction-stats">
                    <div class="percentage-bar-overflow">
                        <div class="percentage-bar"></div>
                    </div>
                    <div class="average-stripe"></div>
                    <img class="satisfaction-icon" src="/assets/images/icons/happy-icon.png" alt="Tevredenheids icoon">
                    <div class="percentage-box">
                        <span class="percentage-count">95%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

