<nav class="nav flex-column side-nav">
    <div class="side-nav-box">
        <a class="side-nav-link" href="#header">1</a>
        <div class="link-text">
            <p>Header</p>
        </div>
    </div>
    <div class="side-nav-box">
        <a class="side-nav-link" href="#realtime">2</a>
        <div class="link-text">
            <p>Realtime</p>
        </div>
    </div>
    <div class="side-nav-box">
        <a class="side-nav-link" href="#usage-compare">3</a>
        <div class="link-text">
            <p>Verbruik vergelijken</p>
        </div>
    </div>
    <div class="side-nav-box">
        <a class="side-nav-link" href="#comparison-chart">4</a>
        <div class="link-text">
            <p>Vergelijking grafiek</p>
        </div>
    </div>
    <div class="side-nav-box">
        <a class="side-nav-link" href="#tableSpace">5</a>
        <div class="link-text">
            <p>Tabel</p>
        </div>
    </div>
    <div class="side-nav-box">
        <a class="side-nav-link" href="#graph-section">6</a>
        <div class="link-text">
            <p>Grafiek</p>
        </div>
    </div>
</nav>