<nav class="nav flex-column side-nav">
    <!-- side-nav link for the header on the top of the consumption page -->
    <div class="side-nav-box">
        <a class="side-nav-link" href="#header">1</a>
        <div class="link-text">
            <p>Header</p>
        </div>
    </div>

    <!-- side-nav link for the realtime cards -->
    <div class="side-nav-box">
        <a class="side-nav-link" href="#realtime">2</a>
        <div class="link-text">
            <p>Realtime</p>
        </div>
    </div>

    <!-- side-nav link for the compare usages -->
    <div class="side-nav-box">
        <a class="side-nav-link" href="#usage-compare">3</a>
        <div class="link-text">
            <p>Verbruik vergelijken</p>
        </div>
    </div>

    <!-- side-nav link for the graphs -->
    <div class="side-nav-box">
        <a class="side-nav-link" href="#comparison-chart">4</a>
        <div class="link-text">
            <p>Grafieken</p>
        </div>
    </div>

    <!-- side-nav link for the table -->
    <div class="side-nav-box">
        <a class="side-nav-link" href="#tableSpace">5</a>
        <div class="link-text">
            <p>Tabel</p>
        </div>
    </div>
</nav>