<!--<nav class="flex-column side-nav">-->
<!--    &lt;!&ndash; side-nav link for the header on the top of the consumption page &ndash;&gt;-->
<!--    <div class="side-nav-box">-->
<!--        <a class="side-nav-link" href="#header">1</a>-->
<!--        <div class="link-text">-->
<!--            <p>Start</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <a href="">-->
<!--        &lt;!&ndash; side-nav link for the realtime cards &ndash;&gt;-->
<!--        <div class="side-nav-box">-->
<!--            <a class="side-nav-link" href="#realtime">2</a>-->
<!--            <div class="link-text">-->
<!--                <p>Realtime</p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </a>-->


<!--    &lt;!&ndash; side-nav link for the compare usages &ndash;&gt;-->
<!--    <div class="side-nav-box">-->
<!--        <a class="side-nav-link" href="#usage-compare">3</a>-->
<!--        <div class="link-text">-->
<!--            <p>Verbruik vergelijken</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; side-nav link for the graphs &ndash;&gt;-->
<!--    <div class="side-nav-box">-->
<!--        <a class="side-nav-link" href="#comparison-chart">4</a>-->
<!--        <div class="link-text">-->
<!--            <p>Grafieken</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; side-nav link for the table &ndash;&gt;-->
<!--    <div class="side-nav-box">-->
<!--        <a class="side-nav-link" href="#tableSpace">5</a>-->
<!--        <div class="link-text">-->
<!--            <p>Tabel</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->