<link href="../../assets/vendors/bootstrap/bootstrap.min.css" rel="stylesheet"/>
<script src="../../assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/controllers/tableController.js"></script>
<!-- Single div to have all the buttons for styling purposes -->
<div class="buttons light-mode" id ="buttons">
    <button href="#" id="selectDay">Dag</button>
    <button href="#" id="selectWeek">Week</button>
    <button href="#" id="selectMonth">Maand</button>
    <button href="#" id="selectYear">Jaar</button>
</div>
<hr id="line">
<!-- table in a template so switching between different tables is easily done -->
<template id="useTable">
    <div class="container light-mode">
        <table class="table table-striped">
            <thead>
            <tr id="tableHeader">
                <th scope="col"><span id="timePeriod"></span></th>
                <th scope="col">TITLE</th>
                <th scope="col">TITLE</th>
                <th scope="col">TITLE</th>
                <th scope="col">TITLE</th>
                <th scope="col">TITLE</th>
                <th scope="col">TITLE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" id="date"><span id="dateOne"></span></th>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
            </tr>
            <tr>
                <th scope="row"><span id="dateTwo"></span></th>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
            </tr>
            <tr>
                <th scope="row"><span id="dateThree"></span></th>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
            </tr>
            <tr>
                <th scope="row"><span id="dateFour"></span></th>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
            </tr>
            <tr>
                <th scope="row"><span id="dateFive"></span></th>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>