<table class="table" id="table-data">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <span>Klik op een tab om data te zien! :)</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <thead>
        <tr>
            <th class="time-column">[Tijd]</th>
            <th class="data-column">Verbruik (kWh)</th>
        </tr>
    </thead>
    <template id="row-template">
        <tr>
            <td class="time"></td>
            <td class="data"></td>
        </tr>
    </template>
    <tbody class="table-body"></tbody>
</table>